Package: com.moustache.clicker
Name: Moustache Clicker
Depends: mobilesubstrate, preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm
Description: Professional Auto Clicker for Moustache
Maintainer: Moustache <your-email@example.com>
Author: Moustache
Section: Tweaks
